In [92]:
import pymysql

In [93]:
conn = pymysql.connect(host='127.0.0.1',user='root',password='ezen',db='mydb',charset='utf8')

In [ ]:
curs=conn.cursor()#db가 들어갈 빈 공간 만들기

In [ ]:
curs.execute('SELECT * FROM emp2')#두 행이 있다

In [ ]:
rows=curs.fetchall()#커서에 있는 행을 모두 가져와
type(rows)#출력 자료형은 튜플

In [ ]:
rows #한행이 하나의 튜플

In [ ]:
for(empno,ename,hiredate,sal) in rows:# rows에 나온 값을 쪼개 하나씩 넣겠다
    print('{}\t{}\t{}\t{}'.format(empno,ename,hiredate,sal))

In [ ]:
curs.close()

In [ ]:
conn.close()

# 동적쿼리-이름을 키보드에 입력받아 쿼리 실행

In [ ]:
conn = pymysql.connect(host='127.0.0.1',user='root',password='ezen',db='mydb',charset='utf8')
curs=conn.cursor()#db가 들어갈 빈 공간 만들기
str=input('이름을 입력')
st = str.split()
name=st[0]
curs.execute(sql,name)
rows=curs.fetchall()#커서에 있는 행을 모두 가져와
for(empno,ename,hiredate,sal) in rows:# rows에 나온 값을 쪼개 하나씩 넣겠다
    print('{}\t{}\t{}\t{}'.format(empno,ename,hiredate,sal))
    
curs.close()
conn.close()

In [ ]:
conn = pymysql.connect(host='127.0.0.1',user='root',password='ezen',db='mydb',charset='utf8')
curs=conn.cursor()#db가 들어갈 빈 공간 만들기
curs = conn.cursor(pymysql.cursors.DictCursor)
sql="SELECT * FROM emp2"
curs.execute(sql)
rows=curs.fetchall()
for row in rows:# rows에 나온 값을 쪼개 하나씩 넣겠다
    print('{}\t{}\t{}\t{}'.format(row['empno'],row['ename'],row['hiredate'],row['sal']))
curs.close()
conn.close()

In [ ]:
with conn.cursor() as curs:
    curs.execute(sql,('a','b'))
#cusor을 닫지 않아도 자동으로 닫음

In [ ]:
#insert
conn = pymysql.connect(host='127.0.0.1',user='root',password='ezen',db='mydb',charset='utf8')
curs=conn.cursor()#db가 들어갈 빈 공간 만들기
sql="insert into emp2 values(%s,%s,%s,%s)" 
with conn.cursor() as curs:
    n=curs.execute(sql,(13,'alice','2020-04-12',5000))
    print('추가성공') if n>0 else print('추가실패')

In [ ]:
conn = pymysql.connect(host='127.0.0.1',user='root',password='ezen',db='mydb',charset='utf8')
curs=conn.cursor()#db가 들어갈 빈 공간 만들기
sql="insert into emp2 values(%s,%s,%s,%s)" 
str=input('정보를 입력')
st = str.split()
num=int(st[0])
name=st[1]
hiredate=st[2]
sal=int(st[3])
curs.execute(sql,(num,name,hiredate,sal))
conn.commit()
print('추가성공') if n>0 else print('추가실패')

curs.close()
conn.close()

show()

In [ ]:
conn = pymysql.connect(host='127.0.0.1',user='root',password='ezen',db='mydb',charset='utf8')
curs=conn.cursor()#db가 들어갈 빈 공간 만들기
sql="update  emp2 set  sal=%s where empno=%s" 
str=input('정보를 입력')
num,sal= str.split()

with conn as conn:
    with conn.cursor() as curs:
        n=curs.execute(sql,(int(sal),int(num)))
        print('변경성공') if n>0 else print('변경실패')
    conn.commit()

show()

In [ ]:
 def show():
        conn = pymysql.connect(host='127.0.0.1',user='root',password='ezen',db='mydb',charset='utf8')
        curs=conn.cursor()#db가 들어갈 빈 공간 만들기
        sql="SELECT * FROM emp2"
        curs.execute(sql)
        rows=curs.fetchall()
        for(empno,ename,hiredate,sal) in rows:# rows에 나온 값을 쪼개 하나씩 넣겠다
            print('{}\t{}\t{}\t{}'.format(empno,ename,hiredate,sal))
        curs.close()
        conn.close()

In [ ]:
conn = pymysql.connect(host='127.0.0.1',user='root',password='ezen',db='mydb',charset='utf8')
curs=conn.cursor()#db가 들어갈 빈 공간 만들기
sql="delete  from emp2  where ename=%s" 
str=input('이름를 입력')
name=str
curs.execute(sql,(name))
conn.commit()
print('삭제성공') if n>0 else print('삭제실패')

show()
    
curs.close()
conn.close()

In [80]:
import pandas as pd

In [81]:
def emp_list1():
    conn = pymysql.connect(host='127.0.0.1',user='root',password='ezen',db='mydb',charset='utf8')
    curs=conn.cursor(pymysql.cursors.DictCursor)#db가 들어갈 빈 공간 만들기
    curs.execute("select empno, ename,hiredate, sal from emp2")
    rows=curs.fetchall()
    
    df = pd.DataFrame(rows)
    display(df)
    
    curs.close()
    conn.close()

In [82]:
emp_list1()

   empno  ename    hiredate   sal
0     11  blake  2022-03-12  2000
1     12   jone  2021-05-05  1000
2     13  alice  2022-10-16  4000

In [114]:
class Emp:
    
    
    
    def emp_list():
        conn = pymysql.connect(host='127.0.0.1',user='root',password='ezen',db='mydb',charset='utf8')
        curs=conn.cursor()#db가 들어갈 빈 공간 만들기
        sql="SELECT * FROM emp2"
        curs.execute(sql)
        rows=curs.fetchall()
        for(empno,ename,hiredate,sal) in rows:# rows에 나온 값을 쪼개 하나씩 넣겠다
            print('{}\t{}\t{}\t{}'.format(empno,ename,hiredate,sal))
        curs.close()
        conn.close()
        
    def emp_add():
        conn = pymysql.connect(host='127.0.0.1',user='root',password='ezen',db='mydb',charset='utf8')
        curs=conn.cursor()#db가 들어갈 빈 공간 만들기
        sql="insert into emp2 values(%s,%s,%s,%s)" 
        str=input('정보를 입력')
        num,name,hiredate,sal = str.split()
        with conn.cursor() as curs:
            n=curs.execute(sql,(int(num),name,hiredate,int(sal)))
            print('추가성공') if n>0 else print('추가실패')
        conn.commit()
            
    def emp_update():
        conn = pymysql.connect(host='127.0.0.1',user='root',password='ezen',db='mydb',charset='utf8')
        curs=conn.cursor()#db가 들어갈 빈 공간 만들기
        sql="update  emp2 set  sal=%s where ename=%s" 
        str=input('정보를 입력')
        name,sal= str.split()

        with conn as conn:
            with conn.cursor() as curs:
                n=curs.execute(sql,(int(sal),name))
                print('변경성공') if n>0 else print('변경실패')
            conn.commit()   
       
        
    def emp_delete():
        conn = pymysql.connect(host='127.0.0.1',user='root',password='ezen',db='mydb',charset='utf8')
        curs=conn.cursor()#db가 들어갈 빈 공간 만들기
        sql="delete  from emp2  where ename=%s" 
        str=input('이름를 입력')
        name=str
        curs.execute(sql,(name))
        conn.commit()
        print('삭제성공') if n>0 else print('삭제실패')
        curs.close()
        conn.close()
        
        
    def emp_find():
        conn = pymysql.connect(host='127.0.0.1',user='root',password='ezen',db='mydb',charset='utf8')
        curs=conn.cursor()#db가 들어갈 빈 공간 만들기
        sql="SELECT * FROM emp2 where ename=%s"
        str=input('이름을 입력')
        st = str.split()
        name=st[0]
        curs.execute(sql,name)
        rows=curs.fetchall()#커서에 있는 행을 모두 가져와
        for(empno,ename,hiredate,sal) in rows:# rows에 나온 값을 쪼개 하나씩 넣겠다
            print('{}\t{}\t{}\t{}'.format(empno,ename,hiredate,sal))
        curs.close()
        conn.close()

In [115]:
mem_dic=[]
m_dic={'s':'LIST', 'f':'FIND', 'a':'ADD', 'u':'UPDATE', 'd':'DELETE', 'x':
       'EXIT'}

def menu():
    print("-----------------------------------------------")
    m=input('목록(s), 검색(f), 추가(a), 수정(u), 삭제(d), 종료(x):')
    return m_dic.get(m)

In [116]:

go = True
while go:
    m=menu()
    if m=='ADD':
        Emp.emp_add()
    elif m=='LIST':
        Emp.emp_list()
    elif m=='UPDATE':
        Emp.emp_update()
    elif m=='DELETE':
        Emp.emp_delete()
    elif m=='FIND':
        Emp.emp_find()
    elif m=='EXIT':
        break
    else:
        print('오류')
        
print('프로그램 종료')

-----------------------------------------------

목록(s), 검색(f), 추가(a), 수정(u), 삭제(d), 종료(x): u
정보를 입력 blake 1000

변경성공
-----------------------------------------------

목록(s), 검색(f), 추가(a), 수정(u), 삭제(d), 종료(x): s

11	blake	2022-03-12	1000
12	jone	2021-05-05	1000
13	alice	2022-10-16	4000
-----------------------------------------------

목록(s), 검색(f), 추가(a), 수정(u), 삭제(d), 종료(x): x

프로그램 종료

# Thread
# 한 프로세스 안에서 동시에 실행되는 코드

In [136]:
import time
from datetime import datetime

In [139]:
def timer(name):
    cnt=0
    while True:
        print(f'{name}-{datetime.now()}')
        time.sleep(1)
        cnt +=1
        if cnt==10:
            break

In [138]:
def number(name):
    num=0
    while True:
        num +=1
        print(f'{name}-{num}')
        time.sleep(1)
        if num==10:
            break

In [135]:
#순차적으로 처리
number()
timer()

num=1
num=2
num=3
num=4
num=5
num=6
num=7
num=8
num=9
num=10
2022-08-18 17:44:08.949055
2022-08-18 17:44:09.949834
2022-08-18 17:44:10.949947
2022-08-18 17:44:11.950102
2022-08-18 17:44:12.950182
2022-08-18 17:44:13.950861
2022-08-18 17:44:14.951025
2022-08-18 17:44:15.951187
2022-08-18 17:44:16.951867
2022-08-18 17:44:17.951878

In [141]:
import threading
t1=threading.Thread(target=number,args=('num_t',))#가상의 cpu가 실행할 타겟이 누구?, 그 함수에 들어갈 
#argument는 무엇?

t2=threading.Thread(target=timer,args=('time_t',))


t1.start()#start 한다는 것은 cpu에게 전원공급!
t2.start()

num_t-1
time_t-2022-08-18 17:54:33.754702
num_t-2
time_t-2022-08-18 17:54:34.757184
num_t-3
time_t-2022-08-18 17:54:35.757755
num_t-4
time_t-2022-08-18 17:54:36.758249
num_t-5
time_t-2022-08-18 17:54:37.758534
num_t-6
time_t-2022-08-18 17:54:38.759326
num_t-7
time_t-2022-08-18 17:54:39.759615
num_t-8
time_t-2022-08-18 17:54:40.760443
num_t-9
time_t-2022-08-18 17:54:41.761105
num_t-10
time_t-2022-08-18 17:54:42.761438